<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.insaproject.mapper.DepartmentMapper">

<!--모든 사원 출력-->
    <select id="getAllDepartment" resultType="Department">
        SELECT
        deptno,
        dname
        FROM department
    </select>






</mapper>